@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@1,900&display=swap');
:root{
    --main-color:#BFC8CF;
    --secondary-color:#778691;
    --title-color: #F7A453;
    --text-color:Black;
    --background-color:#444444;
    --box-padding:10px;
    --box-width:350px;
    --font-size-heading:36px;
    --font-size:16px;
    --title-font:'Bebas Neue',sans-serif;
    --margin-val:20px;
    --margin-btm:5px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

ul{
    list-style: none;
}
h1{
    color: var(--title-color);
    font-size: var(--font-size-heading);
    font-weight: 100;
    font-family: var(--title-font)
}
h2{
    color: var(--title-color);
    margin: var(--margin-val);
}
.user{
    color: var(--title-color);
    margin-left: 60%;
    margin-bottom: 10px;
    /* float: right; */
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    width: 300px;
    padding: 40px;
    height: 75vh;
    border-radius: var(--box-radius);
    box-shadow: var(--box-shadow);
}
.add-task{
    background-color: rgba(255,255,255,1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--margin-val);
}
.add-task input[type=text]{
    padding:10px;
    border-radius: var(--box-radius);
    border: none;
    width:70%;
    font-size: var(--font-size);
    background: none;
    color: var(--text-color);
}
.btn{
    width: 20%;
    font-size: var(--font-size);
    margin-right:4px;
    background: none;
    border: none;
    border-radius: 5px;
    padding:3%;
    cursor: pointer;
    background-color: var(--title-color);
}
.btn:hover{
    opacity: .8;
}
.task-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
    margin:10px 0 0;
    top:250px;
}
.Tasks{
    border-radius: 10px;
    display: flex;
    padding:5px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    margin-bottom: var(--margin-btm);
}
.completed{
    text-decoration: line-through;
}
.edit{
    margin-right: 5px;
}
.modiftText{
    width:60%;
    padding:4px
}

.updateTask{
    width:55%;
    margin:5px;
    padding:2px;
}
.AddTask{
    background-color: var(--title-color);
    border: none;
    width: 35%;
    /* font-size: var(--font-size); */
    /* margin-right:4px; */
    border-radius: 5px;
    padding:3%;
    cursor: pointer;
    background-color: var(--title-color);
}
.notFound{
    color:var(--title-color)
}
.hidden{
    visibility: hidden;
}
.searchBar{
    margin-bottom: 10%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchBox{
    padding:5px;
    padding:5px;
    border: none;
    border-radius: 4px;
}